<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.batteryalert">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<uses-permission android:name="android.permission.BIND_JOB_SERVICE" />
    
	<!-- Quyền cho Android 11+ -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
	<!-- Android 13+ nếu bạn muốn hiển thị Notification -->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<!-- Android 13+ nếu bạn dùng TTS -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
		
    <application
        android:label="Battery Alert"
        android:icon="@android:drawable/ic_lock_idle_charging"
        android:allowBackup="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<service
            android:name=".ChargingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <service android:name=".BatteryService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BatteryReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
				<action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
            </intent-filter>
        </receiver>
		
		<!--<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="com.example.batteryalert.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>-->
		
    </application>
</manifest>

